:root {
    --bg: #fff;
    --color: #000;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000;
        --color: #fff;
    }
}
body {
    background-color: var(--bg);
    font-family: "Times New Roman", Times, serif;
    margin: auto;
    width: 380px;
    color: var(--color);
    text-size-adjust: none;
}
h1 {
    text-align: center;
}
p {
    font-size: 22px;
}
label {
    font-size: 18px;
    padding-left: 2px;
    line-height: 1.3em;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
input[type="radio"] {
    vertical-align: sub;
}
button {
    float: right;
    display: inline;
    margin: 10px;
    width: 74px;
    height: 32px;
    border: 1px solid #555
    border-radius: 1%;
}
select {
    height: 24px;
    width: 280px;
}
.tab {
    display: none;
}
.welcome {
    color: red;
    font-size: 22px;
    text-align: center;
    font-style: oblique;
}
.choose {
    font-size: 16px;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: unset;
}
.timer {
    color: red;
    font-size: 24px;
    text-align: center;
}
.alertBar {
    color: red;
    font-size: 20px;
    text-align: center;
}
.submitted {
    color: #555;
    font-size: 20px;
    text-align: center;
}
.month {
    text-align: center;
}
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
